option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: backend/wsgi.py
    aws:elasticbeanstalk:application:environment:
        STAGING: 1
        DJANGO_SETTINGS_MODULE: backend.settings
container_commands:
    01_migrate:
        command: "source /opt/python/current/env && source /opt/python/run/venv/bin/activate && cd /opt/python/current/app && ./manage.py migrate"
        leader_only: true